li {
  /* border: 1px solid black; */
  list-style: none;
}



/* ul{
   border: 1px solid black;
}

body{
  border: 1px solid black;
}

h2{
  border: 1px solid black;
}

#resultContainer{
  border: 1px solid black;
} */